#myBox {
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center
}

#but1 {
    border-radius: 50px;
    margin: 10px;
    font-size: 3rem;

}