#myButtons {
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15ox;
}

.enabled {
    background-color: blue;
    color: white;
    margin: 5px;
}

.hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    font-weight: bold;

}

.disabled {
    background-color: grey;
    color: hsl(0, 0%, 80%);
    margin: 5px;

}